body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #6c896d;
}

a{
    text-decoration: none;
}

input{
    margin: 2px;
}

a:link .botao_inicial , a:visited .botao_inicial {
    color: #000;
}

.botao_inicial{
    text-align: center;
    padding-top: 30px;
    font-size: 20px;
    width: 200px;
    height: 50px;
    background-color: #cfc;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    border-color: #000;
    margin: 5px;
}

.tabela{
    border-collapse: collapse;
    width: 60%;
}

.tabela th{
    text-align: left;
}

.tabela tr{
    border-bottom: 1px solid #ddd;
}

.tabela tr:nth-child(even){
      background-color: #d6eeee;
}

.miolo{
    width: 40vw;
    height: 40vh;
    background-color: #6c896d;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.miolo_adm{
    width: 40vw;
    height: 40vh;
    background-color: #6c896d;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}